<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductManagementWebClient</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="~/css/layout/responsive.css" rel="stylesheet" />
    <link href="~/css/layout/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/css/layout/styleHome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    @RenderSection("styles", false)
</head>
<body class="d-flex flex-column min-vh-100">
    @{
        var id = @Context.Items["idMember"] ?? 0;
        var roleId = @Context.Items["roleId"] ?? 0;
        var emailUser = @Context.Items["emailUser"] ?? null;
    }
    <div class="sidebar">
        @*<!-- Sidebar  -->*@
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">
                @if (roleId.Equals("1"))
                {
                    <li class="">
                        <a href="/Category/ListCategoryManager">Manager Category</a>
                    </li>
                    <li class="">
                        <a href="/Product/ListProductManager">Manager Product</a>
                    </li>
                    <li class="">
                        <a href="/Order/GetAllHistoryOrderApproved">History Order Approved</a>
                    </li>
                    <li class="">
                        <a href="/Order/GetAllHistoryOrderPending">History Order Pending</a>
                    </li>
                    <li class="">
                        <a href="/Dashboad/ShowDashboad">Dashboad</a>
                    </li>
                }


                @*<li class="">
          <a href="/Account/listAccountManager">Manager Customer</a>
        </li>*@

                @if (roleId.Equals("2"))
                { 
                <li class="">
                    <a href="/Order/GetAllHistoryOrderByCumtomerId">My History Order</a>
                </li>
                }
            <li class="">
                <a href="/Blog/BlogManager">Manager Blogs</a>
            </li>   


                </ul>

        </nav>
    </div>
    @*narbar*@
    <div id="content">
        <header>
            <div class="head_top" style="padding-bottom: 0px;">
                <div class="header">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-2 logo_section">
                                <div class="full">
                                    <div class="center-desk">
                                        <div class="logo">
                                            @*<!-- <a href="index.html"><img src="images/logo.png" alt="#"></a>-->*@
                                            <a href="/Home/IndexMain"><h1 style="color: white">THANK-SHOP</h1></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="right_header_info">

                                    <ul class="form-bar-m1">

                                        <li id="search-box-head">
                                            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                                <div class="input-group">
                                                    <input type="search" id="searchInput" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light" value="">
                                                    <div class="input-group-append">
                                                        <button id="searchButton" type="button" class="btn btn-link text-primary" onclick="searchAndNavigate()"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        <li class="tytyu" id="cartTopIcon">
                                            <a href="/Order/ListShoppingCart">
                                                <img src="~/images/2.png" alt="#" />
                                                <span id="numberItems">0</span>
                                            </a>
                                        </li>

                                        @if (emailUser == null)
                                        {
                                            <li class="menu_iconb-login">
                                                @*<img src="~/images/5.png" alt="#" />*@
                                                <a href="/Login/LoginRegister">Login<i class="fas fa-sign-in-alt" style="color: #ffffff;"></i></a>
                                            </li>

                                        }
                                        else
                                        {
                                            <li class="menu_iconb" id="emailTopIcon">
                                                <a href="/Customer/CustomerDetail">@emailUser</a>
                                            </li>
                                            <li class="menu_iconb" id="logoutTopIcon">
                                                <a href="/Login/LogOut" onclick="doLogout()">Logout<i class="fas fa-sign-out-alt" style="color: #000000;"></i></a>
                                            </li>

                                        }

                                        <li id="side-bar-top">
                                            <button type="button" id="sidebarCollapse">
                                                <img src="~/images/menu_icon.png" alt="#" />
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </header>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="overlay"></div>
    <footer class="mt-auto" id="">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <!-- <a href="index.html"> <img class="logo1" src="images/logo1.png" /></a> -->
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <ul class="sociel">
                                        <li> <a href="#"><i class="fab fa-facebook" style="color: #ffffff;"></i></a></li>
                                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contact us </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"><img src="~/images/loc.png" alt="#" /></a>145 londone
                                            <br>uk
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/images/call.png" alt="#" /></a>+12586954775
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/images/email.png" alt="#" /></a>demo@gmail.com
                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>customer service</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <a href="#">My account</a> </li>
                                        <li><a href="#">Wishlist</a> </li>
                                        <li><a href="#">My Cart</a> </li>
                                        <li><a href="#">Checkout</a> </li>
                                        <li><a href="#">Login</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>corporation</h3>
                                    <ul class="Links_footer">
                                        <li class="active"><a href="#">My account</a> </li>
                                        <li><a href="#">Wishlist</a> </li>
                                        <li><a href="#">My Cart</a> </li>
                                        <li><a href="#"> Checkout</a> </li>
                                        <li><a href="#">Login</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>why choose us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                                    <form class="newtetter">
                                        <input class="tetter" placeholder="Your email" type="text" name="Your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- sidebar -->
    <!-- Lib -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery/dist/pagination.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="~/js/layout/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/Customs.js"></script>
    @*<script src="~/js/layout/custom.js"></script>*@


    <!-- Lib end -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });

        });
    </script>

    <script id="customerId" type="application/json">@Html.Raw(Json.Serialize(Context.Items["idMember"]))</script>
    <script id="token" type="application/json">@Html.Raw(Json.Serialize(Context.Items["token"]))</script>
    <script>
        $(document).ready(function () {
            var customerId = JSON.parse($("#customerId").html());
            handleGetSizeCart();
            function handleGetSizeCart() {

                $.ajax({
                    url: "https://localhost:7012/api/Orders/GetSizeCart/" + customerId,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer" + token
                    },
                    success: function (cartSizeData) {
                        //console.log("GetSizeCart :", cartSizeData);
                        updateCartSize(cartSizeData);
                    },
                    error: function (error) {

                        console.log("GetSizeCart error:", error);
                    }
                });
            }
            function updateCartSize(cartSize) {
                $("#numberItems").text("");
                $("#numberItems").text(cartSize);
            }
        });

        function searchAndNavigate() {
            // Lấy giá trị từ thẻ input và cắt khoảng trống đầu và cuối
            var searchValue = document.getElementById("searchInput").value.trim();

            // Kiểm tra nếu giá trị là rỗng thì không thực hiện chuyển hướng
            if (searchValue === "") {
                return;
            }


            var currentUrl = window.location.href;
            var targetUrl = "/Home/IndexMain2/0/" + encodeURIComponent(searchValue);

            if (currentUrl.indexOf("/Home/IndexMain2") === -1) {
                window.location.href = targetUrl;
            }
        }

        // Xử lý sự kiện nhấn phím Enter trong thẻ input
        document.getElementById("searchInput").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                searchAndNavigate();
            }
        });

    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
