@model ProjectManagementAPl.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Enter Book Information</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form class="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.title : ""))" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <input asp-for="type" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.type : ""))" />
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pub_id" class="control-label"></label>
                    <input asp-for="pub_id" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.pub_id : ""))" />
                    <span asp-validation-for="pub_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price" class="control-label"></label>
                    <input asp-for="price" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.price : ""))" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="advance" class="control-label"></label>
                    <input asp-for="advance" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.advance : ""))" />
                    <span asp-validation-for="advance" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="royalty" class="control-label"></label>
                    <input asp-for="royalty" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.royalty : ""))" />
                    <span asp-validation-for="royalty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ytd_sales" class="control-label"></label>
                    <input asp-for="ytd_sales" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.ytd_sales : ""))" />
                    <span asp-validation-for="ytd_sales" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="notes" class="control-label"></label>
                    <input asp-for="notes" class="form-control" value="@((ViewBag.bookModel != null ? ViewBag.bookModel.notes : ""))" />
                    <span asp-validation-for="notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="published_date" class="control-label"></label>
                    <input asp-for="published_date" type="date" class="form-control" value="@((ViewBag.bookModel != null ? ((DateTime)ViewBag.bookModel.published_date).ToString("yyyy-MM-dd") : ""))" />
                    <span asp-validation-for="published_date" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button onclick="window.location.href='/Book/ClearModel'" type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col">
                <label class="control-label">Seach Book Name</label>
                <input type="text" id="searchBookName" class="form-control" placeholder="Seach Book Name">
                <input type="submit" id="searchBookNameButton" value="Search" class="btn btn-primary mt-2" />
            </div>
            <div class="col">
                <label class="control-label">Seach Book Price</label>
                <input type="text" id="searchBookPrice" class="form-control" placeholder="Seach Book Price">
                <input type="submit" id="searchBookPriceButton" value="Search" class="btn btn-primary mt-2" />
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.book_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pub_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.advance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.royalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ytd_sales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.published_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(document).ready(function () {
            var token = '@(Context.Items["token"] != null ? Context.Items["token"].ToString() : "")';
            ShowAllBooks();
            function ShowAllBooks() {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:7012/odata/Books",
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    success: function (result, status, xhr) {
                        $.each(result.value, function (index, value) {
                            $("tbody").append($("<tr>"));
                            appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value.book_id));
                            appendElement.append($("<td>").html(value.title));
                            appendElement.append($("<td>").html(value.type));
                            appendElement.append($("<td>").html(value.pub_id));
                            appendElement.append($("<td>").html(value.price));
                            appendElement.append($("<td>").html(value.advance));
                            appendElement.append($("<td>").html(value.royalty));
                            appendElement.append($("<td>").html(value.ytd_sales));
                            appendElement.append($("<td>").html(value.notes));
                            appendElement.append($("<td>").html(new Date(value.published_date).toLocaleDateString('en-GB')));
                            appendElement.append($("<td>").html("<a href=\"/Book/Edit/" + value.book_id + "\">Edit</a>|"
                                + "<a href=\"/Book/Delete/" + value.book_id + "\">Delete</a>"));
                        });
                        //console.log(result)
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
            }

            // Add an event handler for the search name button
            $("#searchBookNameButton").on("click", function () {
                var searchQuery = $("#searchBookName").val().trim();
                //console.log(searchQuery);

                SearchBookName(searchQuery);
            });

            // Add an event handler for the search price button
            $("#searchBookPriceButton").on("click", function () {
                var searchQuery = $("#searchBookPrice").val().trim();
                SearchBookPrice(searchQuery);
            });

            function SearchBookName(query) {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:7012/odata/Books?$filter=contains(tolower(title),'" + query +"')",
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    success: function (result, status, xhr) {
                        // Process the search results
                        if (result.value.length > 0) {
                            $.each(result.value, function (index, value) {
                                $("tbody").append($("<tr>"));
                                appendElement = $("tbody tr").last();
                                appendElement.append($("<td>").html(value.book_id));
                                appendElement.append($("<td>").html(value.title));
                                appendElement.append($("<td>").html(value.type));
                                appendElement.append($("<td>").html(value.pub_id));
                                appendElement.append($("<td>").html(value.price));
                                appendElement.append($("<td>").html(value.advance));
                                appendElement.append($("<td>").html(value.royalty));
                                appendElement.append($("<td>").html(value.ytd_sales));
                                appendElement.append($("<td>").html(value.notes));
                                appendElement.append($("<td>").html(new Date(value.published_date).toLocaleDateString('en-GB')));
                                appendElement.append($("<td>").html("<a href=\"/Book/Edit/" + value.book_id + "\">Edit</a>|"
                                    + "<a href=\"/Book/Delete/" + value.book_id + "\">Delete</a>"));
                            });
                        } else {
                            // Handle case when no matching books are found
                            $("table tbody").html("<tr><td colspan='11'>No matching books found.</td></tr>");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
            }

            function SearchBookPrice(query) {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:7012/odata/Books?$filter=price"+" eq " + query,
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    success: function (result, status, xhr) {
                        // Process the search results
                        if (result.value.length > 0) {
                            $.each(result.value, function (index, value) {
                                $("tbody").append($("<tr>"));
                                appendElement = $("tbody tr").last();
                                appendElement.append($("<td>").html(value.book_id));
                                appendElement.append($("<td>").html(value.title));
                                appendElement.append($("<td>").html(value.type));
                                appendElement.append($("<td>").html(value.pub_id));
                                appendElement.append($("<td>").html(value.price));
                                appendElement.append($("<td>").html(value.advance));
                                appendElement.append($("<td>").html(value.royalty));
                                appendElement.append($("<td>").html(value.ytd_sales));
                                appendElement.append($("<td>").html(value.notes));
                                appendElement.append($("<td>").html(new Date(value.published_date).toLocaleDateString('en-GB')));
                                appendElement.append($("<td>").html("<a href=\"/Book/Edit/" + value.book_id + "\">Edit</a>|"
                                    + "<a href=\"/Book/Delete/" + value.book_id + "\">Delete</a>"));
                            });
                        } else {
                            // Handle case when no matching books are found
                            $("table tbody").html("<tr><td colspan='11'>No matching books found.</td></tr>");
                        }
                    },
                    error: function (xhr, status, error) {
                        $("table tbody").html("<tr><td colspan='11'>No matching books found.</td></tr>");
                        console.log(xhr);
                    }
                });
            }

        });
</script>
}
